<div class="content-box-start">
    <div class="dashboard-box">
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                55000
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Article/Items
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                36
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Representative
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                15
            </h2>
            <div class="bottom bg-gradient">
                Total number of locations
            </div>
        </div>
    </div>

    <div class="table__wrapper">
        <app-user-list></app-user-list>
    </div>
</div>

       




 